
/* INDEX.HTML STYLING */


.index-container {
	padding: 50px 0 0px 0px;
}

.nav-main { 
	font-size: 50px;
	font-family: 'raleway', sans-serif;
	font-weight: bold;
	padding: 0px 0 0px 0px;  
	margin: 0px 0px 20px 20px;
	list-style: none;
	overflow: auto;
}

.nav-main li {
	display: block;
	float: left;
	margin-right: 50px;
}

.about {
	clear:auto;
	overflow: auto;
}

.profile-pic {
	float: right;
	display: block;
	margin-right: 175px
}

/* ALL LINKS STYLING */

a,
a:link,
a:visited {
	text-decoration: none;
	color: #323232;
}

a:hover,
a:active {
	color: red;
}


a:active {
	color:blue;
}

.bio-paragraph {
	font-size:40px; 
	font-family:'raleway',arial black,helvetica;
	margin:60px 0px 0px 0px;
	text-indent:60px;
	color: #586063;
}

/* 	IMAGE-GALLERY STYLING */

.local-links-image-gallery {
	float:left;
	display:inline;
	margin-bottom: 10px;
	margin-right: 50px;
	font-size: 50px;
	font-family: 'raleway', sans-serif;
	font-weight: bold;
}

.img-wrapper {
	clear: both;
	overflow: auto;
}

.row-one {
	float:left;
	border: 6px solid black;
	display: inline-block;
	margin-top: 20px;
	margin-right:0px; 
	margin-left:30px;
	margin-bottom: 30px;
	
}

.img-scaled {
	max-width: 412px;
	width:100%;
	max-height: 412px;
	display: block;
	
}

@media all and (min-width: 375px){
    body {
    	width: 100%;
		 } 
}


/* CONTACT-ME STYLING */

.local-links-contact-me { 
	float: left;
	font-size: 50px;
	font-weight: bold;
	display: inline;
	padding-left: 30px;
	font-family: 'raleway', sans-serif;
	margin-right: 50px;
}

.hand-image {
	float: right;
}

.contact-me-paragraph {
	font-size:30px;
	font-family:'raleway', sans-serif;
	float: left;
	display:block;
	padding-right:20px;
	margin-right:200px; 
	margin-left:90px;
}












