#name-logo {
	font-family: arial black, helvetica;
	font-size: 55px;
	color: #161C1A;
	
	display: block;
	padding-left: 26px;
	margin-left: 30px;
	margin-right: 920px;
}

.profile-pic {
	float: right;
	display: block;
	border: solid black 3px;
	margin-right: 175px
	
}

#tumblr-link{
	font-family: helvetica;
	font-size: 40px;
	color:#1B2D3B;
	border: solid black 3px;
	margin-right: 770px;
	margin-left: 66px;
	margin-bottom: 50px;
	margin-top: -50px;
	display: inline-block;

		
	
}

a:link {
	text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #323232;
}

.bio-paragraph {
	font-size:30px; 
	font-family:arial black,helvetica;
	margin: auto;
	width: 60%;
	text-indent:60px;
	color: #586063;
}

.about {

}


body {
	font: 20px helvetica; 
	
}

/* image gallery stying */
.row-one {
	float: left;
	margin: 10px;
	border: 6px solid black;
	display: block;
	margin-top: 50px;
	margin-left: 45px;
	margin-bottom: 50px;
	margin-right: 5px;
}

.img-scaled {
	max-width: 412px;
	width:100%;
	max-height: 411px;
	display: block;
	float: left;
}
@media all and (min-width: 375px){
    body {
    	width: 100%;
		 } 
}q


/*
@media screen and (min-width: 380px) and (max-width: 1000px) {
	.row-one {
		width:100%;
		height:auto 100%;

		
	}
		
	}




